# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de caché
*.log
*.lock

# Ignorar archivos de configuración local
.env